#about-me-block{
    display:grid;
    grid-template-columns: 1.5fr 5fr 4fr 1.5fr;
    grid-gap: 2vw;
    height: 550px;
    width: 100%;
    margin-top: 2em;
    }
    #photo{
    height: 500px;
    width: 94%;
    }
    .inform{
        background-color: #eae6e1;
        grid-column-start: 2;
        height: 500px;
        padding-top: 5em;
    }
    
    .inform h1{
    color: #7e7d7d;
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    font-weight: bold;
    padding-left: 2em;
    }
    
    .inform p{
        color: #7e7d7d;
        font-family: 'Cormorant Garamond', serif;
        font-size: 18px;
        padding-left: 4em;
        text-align:left;
        padding-right: 2em;
    }
    