.slide-fade-enter-active {
    transition: all 0.3s ease-out;
  }
  
  .slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }
  .fix-right{
position:fixed;
height: 100%;
top:0;
right:0;
background-color: rgb(255, 255, 255);
width:40%;
z-index: 2;
  }
  .overlay{
    position:absolute;
  box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
width:100%;
z-index: 1;
  }
.wishlist-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 15px;
}
.outline-none{
  text-decoration: none;
  text-decoration: none;
  background-color: transparent; 
  border: none;
}
.close-btn{
  width: 30px;
  height: 30px;
}
.img-close{
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
  justify-content: space-between;
}
.fix-right h2{
  margin-left:1em;
  margin-top: .5em;
}
.img-product{
  margin-left: 2.6em;
  margin-bottom: 1.5em;
  margin-top: 1.2em;
  height: 90px;
  width: 95px;
}

.des-text{
  padding-top: 2em;
}
.des-text :first-child{
  font-size: small;
  margin-bottom: 0;
}
.des-price{
  grid-column-start: 2;
  grid-row-start: 2;
  align-items: center;
}
.control-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.del{
  grid-column-start: 2;
  align-items: center;
}
.del-btn{
  width: 20px;
  height: 20px;
}
.counter{
  align-items: center;
}