#product-block{
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    margin-top: 1.5em;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 3em;
    height: 550px;
    }
#product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vw;
    padding-left: 2em;
    padding-top: 1em;
}
.card-text{
     font-size:large;
    }
#filter{
    border-right: 2px solid rgb(48, 48, 48);
    margin-left: 2em;;
}
#search{
    margin-top: 1.5em;
    width:87%;
    height: 2em;
}
#sort{
    margin-top: 1.5em;
    width:90%;
    height: 2em;
}