<div id="delivery-block">
    <div id="delivery" class="position"><img src="image/taxi.png" alt="фотография" id="taxiimg"></div>
    <div class="position"><img src="image/postbox.png" alt="фотография" id="postboximg"></div>
    <div class="position"><img src="image/shop.png" alt="фотография" id="shopimg"></div>
    <div id="taxi" class="text-position font">
        <h2>На такси</h2>
    </div>
    <div class="text-position font">
        <h2>Почтой</h2>
    </div>
    <div class="text-position font">
        <h2>Самовывозом</h2>
    </div>
    <div id="description-taxi" class="description-font">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum reiciendis velit omnis illo quidem
            reprehenderit.</p>
    </div>
    <div class="description-font">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum reiciendis velit omnis illo quidem
            reprehenderit.</p>
    </div>
    <div class="description-font">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum reiciendis velit omnis illo quidem
            reprehenderit.</p>
    </div>

</div>