<div id="footer">
    <div> © All Right Reserved. Toys.Hook. Игрушки, связанные с любовью</div>
    <div id="contact">
    <a href="https://www.instagram.com/toys.hook/?igshid=1fmqtwzm4y668" target="_blank"><div id="first-co" class="source"><img src="image/instagram.png" alt="фотография" class="icon" id="inst"></div></a>
    <a href="https://vk.com/crocheting20" target="_blank"><div class="source"><img src="image/vk.png" alt="фотография" class="icon" id="vk"></div></a>
    <div class="source"><img src="image/marker.png" alt="фотография" class="icon">г. Самара</div>
</div>
</div>