<div id="footer">
    <div><img src="toyshook.jpg" alt="типа логотип" id="footer-logo"> Toys.Hook. Игрушки, связанные с любовью</div>
    <div id="source"><img src="https://img.icons8.com/small/32/000000/instagram-new.png"></div>
    <div id="source"><img src="https://img.icons8.com/small/32/000000/vk-com.png"></div>
    <div id="source"><img src="https://img.icons8.com/small/32/000000/marker.png">г. Самара</div>
</div>