<div id="gridHead">
    <div><button type="button" id="aboutme" class="btn btn-link">Обо мне</button></div>
    <div><button type="button" id="product" class="btn btn-link">Игрушки</button></div>
    <div> <button type="button" id="masterclass" class="btn btn-link">Мастер-класс</button></div>
    <div><img src="toyshook.jpg" alt="типа логотип" id="logo"></div>
    <div><button type="button" id="contacts" class="btn btn-link">Контакты</button></div>
    <div><button type="button" id="delivery" class="btn btn-link">Как заказать</button></div>
    <div><button type="button" id="basket" class="btn btn-link">Корзина</button></div>
</div>