<div id="masterclass-block">
    <div class="text">
        <h1>Упс!</h1>
        <p>Пока нет ни одного мастер-класса</p>
    </div>
    <div><img src="mc.png" alt="мастер-классы" id="mc"></div>
</div>