<div id="masterclass-block">
    <div class="text">
        <h1>Упс!</h1>
        <p1>Пока нет ни одного мастер-класса</p1>
    </div>
    <div><img src="image/mc.png" alt="мастер-классы" id="mc"></div>
</div>