<div id="product-block">
    <div id="filter">
        <input type="text" class="form-control" id="search">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="sort">
            <option selected>Сортировать</option>
            <option value="1">По убыванию цены</option>
            <option value="2">По возрастанию цены</option>
            <option value="3">По убыванию размера</option>
            <option value="3">По возрастанию размера</option>
        </select>
    </div>
    <div id="product-list">
        <div id="toy" class="card" style="width: 15rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Типа игрушка</h5>
                <p class="card-text">Какое-то описание</p>
                <a href="#">Купить</a>
            </div>
        </div>

        <div class="card" style="width: 15rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Типа игрушка</h5>
                <p class="card-text">Какое-то описание</p>
                <a href="#">Купить</a>
            </div>
        </div>

        <div class="card" style="width: 15rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Типа игрушка</h5>
                <p class="card-text">Какое-то описание</p>
                <a href="#">Купить</a>
            </div>
        </div>
    </div>
</div>