<div id="product-block" class="ms-3">
    <div class="card" style="width: 15rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Типа игрушка</h5>
            <p class="card-text">Какое-то описание</p>
            <a href="#">Купить</a>
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Типа игрушка</h5>
            <p class="card-text">Какое-то описание</p>
            <a href="#">Купить</a>
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Типа игрушка</h5>
            <p class="card-text">Какое-то описание</p>
            <a href="#">Купить</a>
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Типа игрушка</h5>
            <p class="card-text">Какое-то описание</p>
            <a href="#">Купить</a>
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Типа игрушка</h5>
            <p class="card-text">Какое-то описание</p>
            <a href="#">Купить</a>
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Типа игрушка</h5>
            <p class="card-text">Какое-то описание</p>
            <a href="#">Купить</a>
        </div>
    </div>
</div>