<div class="modal fade" id="modal" ref="wishlist" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">твой заказ</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    @click="wishlist.modal.hide()"></button>
            </div>
            <div class="modal-body" id="wishlist-product">
                <div class="choice">
                    <div class="wish-img"><img src="image/bear.jpg" alt="фотография"></div>
                    <div class="wish-name">мишка</div>
                    <div class="wish-count">
                        <button type="button" class="decr">-</button>
                        <span class="count">1</span>
                        <button type="button" class="incr">+</button>
                    </div>
                    <div class="wish-price">600 руб.</div>
                    <button type="button" class="wish-del"><img
                            src="https://img.icons8.com/small/16/000000/delete-sign.png" /></button>
                </div>
                <div></div>
                <div id="total">Сумма: 600 руб.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    @click="wishlist.modal.hide()">закрыть</button>
                <button type="button" class="btn btn-primary">заказать</button>
            </div>
        </div>
    </div>
</div>